[package]
name = "bevy_jam_7"
authors = ["Eerwig <er3r3r@protonmail.com>"]
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = { version = "0.18" }
bevy_asset_loader = "0.25"
bevy_hanabi = "0.18"
bevy-inspector-egui = { version = "0.36", optional = true }
bevy_seedling = "0.7"
rand = "0.9"
tracing = { version = "0.1", features = [
  "max_level_debug",
  "release_max_level_warn",
] }

[target.wasm32-unknown-unknown.dependencies]
getrandom = { version = "0.3", features = ["wasm_js"] }

[features]
default = ["dev_native"]
dev = [
  "bevy/dynamic_linking",
  "bevy/bevy_dev_tools",
  "bevy/bevy_ui_debug",
  "bevy/track_location",
  "bevy-inspector-egui",
]
dev_native = ["dev", "bevy/file_watcher", "bevy/embedded_watcher"]


[package.metadata.bevy_cli.release]
default-features = false

[package.metadata.bevy_cli.web]
default-features = false

[package.metadata.bevy_cli.web.dev]
features = ["dev"]

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ["cfg(bevy_lint)"] }

[lints.clippy]
too_many_arguments = "allow"
type_complexity = "allow"
nonstandard_macro_braces = "warn"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.dev.package.wgpu-types]
debug-assertions = false

[profile.release]
codegen-units = 1
lto = "thin"

[profile.web-release]
inherits = "release"
opt-level = "s"
strip = "debuginfo"

[profile.ci]
inherits = "dev"
opt-level = 0
debug = "line-tables-only"
codegen-units = 4

[profile.ci.package."*"]
opt-level = 0
